<div class="panel panel-default">
    <div class="list-group" >
        <a ng-href="{{post.url}}" class="list-group-item active">
            <h4 class="list-group-item-heading">Comments of {{ post.title }}</h4>
            <p class="list-group-item-text">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{post.createTime | date: 'medium'}} &nbsp; | &nbsp;
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{post.author}} &nbsp; | &nbsp;
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{post.comments.length}}
            </p>
        </a>
    </div>

    <table class="table table-hover">
        <tbody>
            <tr>
                <td colspan="2" ng-show="$root.auth">
                    <button type="button"  id="showNewCommentForm" class="btn btn-default">New Comment</button>
                    <br>
                    <br>
                    <form class="form-inline">
                        <div id="newCommentForm" class="alert alert-info" >
                            <button type="button" class="close" id="closeNewCommentForm" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                           <div class="input-group">
                               <div class="input-group-addon"><span class="glyphicon glyphicon-comment"></span></div>
                               <input class="form-control " type="text" ng-model="comment.text" />
                           </div>
                            <button type="button"class="btn btn-success" ng-click="submit(comment)" >Submit Comment</button>
                        </div>
                    </form>
                </td>
            </tr>
            <tr ng-repeat="comment in post.comments | orderBy:-createTime:true">
                <td ng-show="$root.auth" width="80" style="vertical-align: middle; font-size: 17px;" align="center">
                    <a ng-click="upVoteComment(comment)" href="" ><span class="glyphicon glyphicon-chevron-up" style="color: green; " aria-hidden="true"></span></a>
                    {{ comment.rating.value }}
                    <a ng-click="downVoteComment(comment)" href="" ><span class="glyphicon glyphicon-chevron-down" style="color: red" aria-hidden="true"></span></a
                </td>
                <td>
                    <h4 class="list-group-item-heading">{{ comment.text}}</h4>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{comment.author}}<br>
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{comment.createTime | date: 'medium'}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="backToHome()">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Zurück
</button>