<div class="jumbotron">
    <h1>Posts</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
</div>
<ul>
    <li ng-repeat="entry in entries">{{ entry.title }} {{entry.author}} : {{entry.url}}</li>
</ul>

<!--<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right" role="tablist" ng-repeat="entry in entries">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            {{ entry.title }} {{entry.author}} : {{entry.url}}
        </ul>
    </div>
</div>-->