<!DOCTYPE html>
<html ng-app="redditclone" ng-controller="mainController">
<head>

    <title>InTeTestat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<link href="client.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/angular-notify/dist/angular-notify.css" />



    <!--<script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/socket.io-client/socket.io.js" ></script>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/angular-notify/dist/angular-notify.js"></script>


    <script src="core.js"></script>
    <script src="dataService.js"></script>
    <script src="init.js"></script>

</head>
    <body>

        <script src="ui.js"></script><!-- TODO: to delete? -->

        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/posts.detail.controller.js"></script>
        <script src="scripts/controllers/posts.index.controller.js"></script>
        <script src="scripts/controllers/register.controller.js"></script>
        <script src="scripts/controllers/login.controller.js"></script>
        <script src="scripts/controllers/logout.controller.js"></script>
        <script src="scripts/controllers/main.controller.js"></script>


        <script src="scripts/services/common.services.js"></script>
        <script src="scripts/services/api.services.js"></script>
        <script src="scripts/services/socket.services.js"></script>

        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right" role="tablist">
                    <li role="presentation" class="active"><a href="#/home">Home</a></li>
                    <li ng-if="!auth" role="presentation"><a href="#/login">Login</a></li>
                    <li ng-if="!auth" role="presentation"><a href="#/register">Register</a></li>
                    <li ng-if="auth" role="presentation"><a href="#/logout">Logout</a></li>
                </ul>
                <h3 ng-show="auth" class="text-muted">Reddit Clone (Hello {{ username }})</h3>
                <h3 ng-show="!auth" class="text-muted">Reddit Clone</h3>

                <div class="jumbotron">
                    <h1 >{{ title }}</h1>
                </div>
            </div>

            <div class="row marketing">
                <div ng-view></div>
            </div>
            <div class="footer">
                <p>&copy; Juchli Marc, Loop Marcel, Wolf Lorenz</p>
            </div>
        </div>


    </body>
</html>
